<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="5">

    <test name="Run on Chrome">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="SeleniumTopic.Selenium_Suite">
                <methods>
                    <include name="Scroll_using_javascript"/>
                    <include name="Scroll_using_javascript_bottom_page"/>
                    <include name="Scroll_using_javascript_specific_pixels"/>
                    <include name="DragAndDrop"/>
                    <include name="Verify"/>
                    <include name="rightClick"/>
                </methods>
            </class>
        </classes>
    </test>

   <!-- <test name="Run on Firefox">
        <parameter name="browser" value="Remote_Firefox"/>
        <classes>
            <class name="SeleniumTopic.Selenium_Suite">
                <methods>
                    <include name="Scroll_using_javascript"/>
                    <include name="Scroll_using_javascript_bottom_page"/>
                    <include name="Scroll_using_javascript_specific_pixels"/>
                    <include name="DragAndDrop"/>
                    <include name="Verify"/>
                    <include name="rightClick"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Run on Edge">
        <parameter name="browser" value="Remote_Edge"/>
        <classes>
            <class name="SeleniumTopic.Selenium_Suite">
                <methods>
                    <include name="Scroll_using_javascript"/>
                    <include name="Scroll_using_javascript_bottom_page"/>
                    <include name="Scroll_using_javascript_specific_pixels"/>
                    <include name="DragAndDrop"/>
                    <include name="Verify"/>
                    <include name="rightClick"/>
                </methods>
            </class>
        </classes>
    </test>-->

</suite>