<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test verbose="2" preserve-order="true" name="C:/Users/Aditya Pawar/eclipse-workspace/java_con" parallel="methods">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="SeleniumTopic.Selenium_Suite">
            <methods>
                <include name="DragAndDrop"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>